mixin catalog-subnav-item(link, text, count)
	li.catalog-subnav__item
		a.catalog-subnav__link(href= link)
			span.catalog-subnav__text= text
			span.text-count= count

mixin catalog-subnav(title, count)
	.catalog-subnav(data-simplebar)
		.catalog-subnav__inner
			.catalog-subnav__col
				.catalog-subnav__block
					.catalog-subnav__header
						span.catalog-subnav__title= title
						span.text-count= count
					ul.catalog-subnav__list
						+catalog-subnav-item('#', 'Прямоугольные оцинкованные трубы', 23)
						+catalog-subnav-item('#', 'Соединители прямоугольных желобов водостока', 23)
						+catalog-subnav-item('#', 'Воронка водостока прямоугольная оцинкованная', 23)
						+catalog-subnav-item('#', 'Заглушки прямоугольного водостока оцинкованные', 23)
						+catalog-subnav-item('#', 'Крепление прямоугольного водостока', 23)
						+catalog-subnav-item('#', 'Соединители прямоугольных желобов водостока', 23)
						+catalog-subnav-item('#', 'Крепление прямоугольного водостока', 23)
					.catalog-subnav__header
						span.catalog-subnav__title= title
						span.text-count= count
					ul.catalog-subnav__list
						+catalog-subnav-item('#', 'Прямоугольные оцинкованные трубы', 23)
						+catalog-subnav-item('#', 'Соединители прямоугольных желобов водостока', 23)
						+catalog-subnav-item('#', 'Воронка водостока прямоугольная оцинкованная', 23)
						+catalog-subnav-item('#', 'Заглушки прямоугольного водостока оцинкованные', 23)
						+catalog-subnav-item('#', 'Крепление прямоугольного водостока', 23)
						+catalog-subnav-item('#', 'Соединители прямоугольных желобов водостока', 23)
						+catalog-subnav-item('#', 'Воронка водостока прямоугольная оцинкованная', 23)
						+catalog-subnav-item('#', 'Заглушки прямоугольного водостока оцинкованные', 23)
						+catalog-subnav-item('#', 'Крепление прямоугольного водостока', 23)
			.catalog-subnav__col
			.catalog-subnav__block
				.catalog-subnav__header
					span.catalog-subnav__title= title
					span.text-count= count
				ul.catalog-subnav__list
					+catalog-subnav-item('#', 'Прямоугольные оцинкованные трубы', 23)
					+catalog-subnav-item('#', 'Соединители прямоугольных желобов водостока', 23)
					+catalog-subnav-item('#', 'Воронка водостока прямоугольная оцинкованная', 23)
					+catalog-subnav-item('#', 'Заглушки прямоугольного водостока оцинкованные', 23)
					+catalog-subnav-item('#', 'Крепление прямоугольного водостока', 23)
					+catalog-subnav-item('#', 'Соединители прямоугольных желобов водостока', 23)
					+catalog-subnav-item('#', 'Воронка водостока прямоугольная оцинкованная', 23)
					+catalog-subnav-item('#', 'Заглушки прямоугольного водостока оцинкованные', 23)
					+catalog-subnav-item('#', 'Крепление прямоугольного водостока', 23)
