mixin modal(props)
	-
		var allMods = "";
		if(typeof(props.mods) !== "undefined" && props.mods)
			var modsList = props.mods.split(",");
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + " modal--" + modsList[i].trim();
			}

	.modal.mfp-hide(id=props.id class=allMods tabindex="-1" role="dialog")&attributes(attributes)
		.hide-on-success
			.modal__dialog(role="document")
				.modal__header
					h3.modal__title= props.title
					+close('Закрыть','modal')
				.modal__body
					block
		if (props.success)
			+modal-on-success({
				mods: 'consult',
				success: props.successText,
				long: props.long
			})

mixin modal-on-success(props)
	-
		var allMods = "";
		if(typeof(props.mods) !== "undefined" && props.mods)
			var modsList = props.mods.split(",");
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + " modal-success--" + modsList[i].trim();
			}

	.show-on-success
		.modal-success(class=allMods)
			.modal__header
				h3.modal__title= props.success
				+close('Закрыть','modal')
			.modal__body
				if (props.long !== 'undefined' && props.long)
					+form-success('long')
				else
					+form-success()
