mixin btn(props)
	-
		var allMods = '';
		if(typeof(props.mods) !== 'undefined' && props.mods) {
			var modsList = props.mods.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + ' btn--' + modsList[i].trim();
			}
		}
	if(props.tag === 'a')
		a.btn(class=allMods href=props.href)&attributes(attributes)= props.text
	if(props.tag === 'button')
		button.btn(class=allMods)&attributes(attributes)
			if (props.icon)
				+icon(props.icon, props.iconClass)
			span= props.text
			if (props.count)
				span.text-count 786
	if(props.tag === 'input')
		input.btn(class=allMods type="submit" value=props.text)
