mixin tooltip(props)
	-
		var allMods = '';
		if(typeof(props.mods) !== 'undefined' && props. mods) {
			var modsList = props.mods.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + ' tooltip--' + modsList[i].trim();
			}
		}
	.tooltip(class=allMods)
		if (props.icon !== 'undefined' && props.icon)
			+icon(props.icon, 'tooltip__icon')
		if (props.text !== 'undefined' && props.text)
			span.tooltip__text= props.text
			if (props.descr !== 'undefined' && props.descr)
				span.tooltip__descr= props.descr
			if (props.color !== 'undefined' && props.color)
				span.tooltip__color(style =`background-color: ${props.color}`)
			if (props.btn !== 'undefined' && props.btn)
				span.tooltip__btn= props.btn
		block
